body {
    margin: 10px 10px;
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #44a049;
}


/* Create three equal columns that floats next to each other */

.column_entry {
    float: left;
    width: 20%;
    padding: 15px;
}

.column_content {
    float: left;
    width: 80%;
    padding: 15px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#calendar {
    max-width: 900px;
    /*margin: 0 auto;*/
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #44a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}